<label [for]="name">{{ label }}</label>
<div class="select-container">
  <select
    [name]="name"
    [id]="name"
    [formControl]="control"
    [ngClass]="{ disabled: !disabled }"
  >
    <option value="" style="color: #808080" selected>
      {{ defaultValue }}
    </option>
    <option *ngFor="let value of values" [value]="value">
      {{ value }}
    </option>
  </select>
  <label [for]="name" class="drop-icon">
    <fa-icon [icon]="faAngleDown"></fa-icon>
  </label>
  <!-- <app-print-error [control]="control"></app-print-error> -->
</div>
