<footer class="footer-container">
    <!-- logo container with links-->
    <div class="app-links-container">
      <img src="/assets/layout/images/logo.png" alt="logo" class="logo" />
      <p>Download the app by clicking the link below</p>
      <div class="app-links">
        <a href=""><img src="/assets/layout/images/playstore.png" alt="" /></a>
        <a href=""><img src="/assets/layout/images/apple.png" alt="" /></a>
      </div>
    </div>
  
    <!-- pages container -->
    <div class="main-container">
      <h6>Pages</h6>
      <div class="content-container">
        <a href="">About us</a>
        <a href="">Universities</a>
        <a href="">Courses</a>
        <a href="">Blog</a>
      </div>
    </div>
  
    <!-- Service container -->
    <div class="main-container">
      <h6>Services</h6>
      <div class="content-container">
        <a href="">Course Finder</a>
        <a href="">Application Help</a>
        <a href="">Processing</a>
      </div>
    </div>
  
    <!-- Contact container -->
    <div class="main-container">
      <h6>Contact</h6>
      <div class="content-container">
        <div class="icon-info-container">
          <fa-icon [icon]="faPhone"></fa-icon><span>(406) XXXX-XXXX0</span>
        </div>
        <div class="icon-info-container">
          <fa-icon [icon]="faEmail"></fa-icon><span>contact@applygrads.com</span>
        </div>
        <div class="icon-info-container">
          <fa-icon [icon]="faLocation"></fa-icon
          ><span>20 Stacey St, Alexandria, NSW, 2500</span>
        </div>
      </div>
    </div>
  
    <!-- Social Container -->
    <div class="main-container">
      <h6>Social Media</h6>
      <div class="social-icons-container">
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faLinkedin"></fa-icon>
        <fa-icon [icon]="faInstagram"></fa-icon>
      </div>
    </div>
  </footer>
  